input{
    float: 15px;
    width: 190px;
    height: 25px;
   background-color:rgb(255, 255, 255);
   border-radius: 5px;
   
}

div .login{
    text-align: center;
    border:1.50px solid rgb(175, 175, 175);
	width:300px;
	height: 250px;
    margin: auto;
    border-radius:5px;
}

button{
    margin: 10px;
    text-align: center;
    border-radius: 4px;
}

form{
    border-radius: 5px;
    text-align: center;
}

p{
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-align:unset
}
