.still{
    padding: 10px 20px;
    color:white;
    background-color:rgba(94, 176, 230, 0.821);
    text-align:right;
    margin-top: 40px;
  

    
    }

    .still2{
        padding: 10px 24px;
        color: white;
        background-color: rgba(227, 59, 59, 0.835);
        text-align:left;
    
    }

    .still3{
        padding: 5px 10spx;
        background-color:rgb(80, 135, 230);
        text-align: justify;
        color: white;
        font-size: 18px;
    }


   input{
             
         width: 5px;
         border: 3px rgb(255, 255, 255) #929292;
         padding: 2px;
         margin-top: 5px;
         margin-bottom: 5px;
   }

form .login {
    text-align: center;
    height: 300px;
    width: 600px;
    border: 2px solid rgb(177, 177, 177); /* Kenar kalınlığı, şekli ve rengi */
    padding: 70px;
    
}

h1{
    text-align:center;
    margin-top: 5px ; 
}

div{
    margin-top: 60px;
}

img{
    
    position: relative;

    right: 650px;
    margin-top: 11px;
    text-align: center;
    position: fixed;
    top: 59px;
  
    
}